/* src/app/globals.css */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
@import "tailwindcss";


/* 既存の Bootstrap Icons を使うためのインポート */


:root {
  --sidebar-width: 260px;
}

body {
  /* layout.html で指定されていた Inter フォントなどを適用 */
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc; /* 元の body 背景色 */
}